<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title}">Thymeleaf Demo</title>

    <link rel="stylesheet"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet"
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.min.css}">

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<div th:fragment="scripts">
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>

</body>
</html>